.button {
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-size: var(--regular);
  display: flex;
  justify-content: center;
  align-items: center;

  i {
      font-size: 1.4em;
      margin-left: .4rem;
  }
}

.button:hover {
    transform: scale(1.03);
    transition: .1s ease-in-out;
}

.big_button {
  width: 18rem;
  font-size: var(--medium-font);
}
.medium_button {
  width: 10rem;
}
.small_button {
  width: 7rem;
  padding: .3rem;
  font-size: var(--small-font);
}

.btn_no_backgroundcolor {
  background-color: transparent;
}
.btn_outlined {
  border: 1px solid var(--primary);
}

.with_margin {
  margin: 1rem;
}

.background_primary {
  background-color: var(--primary);
  color: white;
}
.background_primary:hover {
  background-color: var(--primary-light);
}

.background_secondary {
  background-color: var(--secondary);
  color: white;
}
.background_secondary:hover {
  background-color: var(--secondary-light);
}

.color_primary {
  color: var(--primary);
}
.color_primary:hover {
  color: var(--primary-light);
}

.color_secondary {
  color: var(--secondary);
}
.color_secondary:hover {
  color: var(--secondary-light);
}
