.wish-list {
    padding: 2rem 8rem;
    background-color: #F1F1F1;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        text-align: left;
        color: var(--color-text);
    }
    &__checkout {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .wish-list {
        padding: 2rem 1rem;
    }

}