.product {
  margin-top: 2rem;
  &__wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
    padding: .5rem;
  }
  &__body {
    display: grid;
    grid-template-columns: 20% 36% 25% 19%;
    align-items: center;
    flex-wrap: wrap;
  }
  &__header span,
  &__body, span {
    color: rgb(56, 53, 53);
    font-weight: 600;
  }
  hr {
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
