* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62, 5%;
}

.App {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

:root {
  /* color palette */
  --primary: #62BFAD;
  --primary-dark: #459181;
  --primary-light: #85e4d1;

  --secondary: #FFB1B1;
  --secondary-dark: #e08383;
  --secondary-light: #f5c7c7;

  /* fonts */
  --small-font: 14px;
  --regular-font: 16px;
  --large-font: 25px;
  --xlarge-font: 45px;
  
}

a {
  text-decoration: none;
}

hr {
  border: 1.2px solid rgb(236, 227, 227);
  margin: .6rem 0 .6rem 0; 
}

.animate-modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}


