.image {
    display: inline-block;
    overflow: hidden;
    height: 127px;
    width: 127px;
    object-fit: cover;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }